@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway:wght@300&display=swap');

.main {
  background-image: url(../images/food.png);
  height: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.list-background {
  background-color: rgb(179, 178, 178);
}

.card-background {
  background-color: rgb(233, 233, 233);
}

.side-bar {
    min-width: 200px;
}

.boldtext {
  font-weight: bolder;
}
.major-mono {
  font-family: 'Major Mono Display', monospace;
}

@media (min-width: 768px) {
  .main {
    height: 100%;
    min-height: 100vh;
  }

  .side-bar {
    background-color: rgba(0, 0, 0, .88);
    min-width: 200px;
    min-height: 100%;

  }
}